body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  a {
    text-decoration: none; 
    color: black; 
  }

  .responsive-img {
    max-width: 100%; 
    height: auto; 
  }

  .tmbd-image{
    max-width: 10rem;
    height: auto;
  }

  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.margin-left{
  margin-left: 0.5rem;
}

.nav-logo{
  width: 9rem;
  height: auto;
}

.nav-link{
  font-family: Barrio, sans-serif;
  color: white;
  font-size: 1.5rem;
}

.nav-link:focus, .nav-link:hover {
  color: red;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: red;
  font-size: 1.5rem;  
   
}

.logo{
  max-width: 30%;
  height: auto;
}

.review-logo{
  max-width: 100%;
  height: auto;
}

.text-red{
  color: #d72323;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 3px;
}

footer{
  font-family: Barrio, sans-serif;
  padding-top: 1rem;
}

.social-icon{
  font-size: 1.5rem;
}

.fa-solid, .fas {
  margin-right: 5px;
}