{% extends "base.html" %}
{% block content %}

<h3 class="center-align">ReelTalk</h3>


<div class="center-content">
    <div class="row">
        <div class="col s12 center-align">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>                
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>                
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit">Login<i class="fa-solid fa-arrow-right-to-bracket margin-left"></i>                        
                    </button>
                    <a class="btn waves-effect waves-light" href="{{ url_for('sign_up') }}">Sign Up <i class="fa-solid fa-user-plus"></i></a>                    
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}