{% extends "base.html" %} {% block content %}

<img
  class="mx-auto d-block pt-4 pb-4 logo mb-2"
  src="{{ url_for('static', filename='img/reeltalk-high-res.png') }}"
  alt="reel-talk-logo"
/>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <!-- if statement to display reviews, if no reviews are available to display then the code moves onto the last else statement  -->
  {% if all_reviews %}
  <!-- Using Jinja's group by function to associate all user's reviews to one movie title (this creates a tuple which then can be iterated over) https://www.webforefront.com/django/usebuiltinjinjafilters.html#google_vignette -->
  {% set grouped_reviews = all_reviews|groupby('movie.title') %} {% for
  movie_title, reviews in grouped_reviews %}
  <div class="col">
    <div class="card h-100 border-0 shadow">
      <!-- if reviews[0].move.backdrop_path checks to see if the first review associated with the current movie has a backdrop_path stored in the movie table -->
      <img
        src="{% if reviews[0].movie.backdrop_path %}https://image.tmdb.org/t/p/w500{{ reviews[0].movie.backdrop_path }}{% else %}{{ url_for('static', filename='img/tmdb-logo-2.webp') }}{% endif %}"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">
          {% if movie_title|length > 30 %}
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="{{ movie_title }}"
            >{{ movie_title|truncate(30) }}...</span
          >
          {% else %} {{ movie_title }} {% endif %}
        </h5>
        <p class="card-text">
          Release Date: {{ reviews[0].movie.release_date }}
        </p>
        <h6>Reviews:</h6>
        <hr />
        <!-- This is the inner for loop which allows all the reviews which are associated to one movie be shown -->
        {% for review in reviews %}
        <p class="card-text">{{ review.review_text }}</p>
        <p class="card-text">
          Date Created: {{ review.created_at.strftime('%d-%m-%y') }}
        </p>
        <p class="card-text">
          <i class="fa-solid fa-user-large"></i> {{ review.user.first_name }}
        </p>
        <hr />
        {% endfor %}
      </div>
    </div>
  </div>

  {% endfor %}
 {% else %}
  <div class="mx-auto text mt-5">
    <p class="text-center">No Reviews</p>
  </div>
 {% endif %}
</div>
{% endblock %}
