{% extends "base.html" %} {% block content %}
<h1 class="text-center">Review "{{ movie.title }}"</h1>

<!-- form to allow a user to leave a review against a movie -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card border-0 shadow">
        <div class="card-body">
          <img
            src="{% if movie.backdrop_path %}https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}{% else %}{{ url_for('static', filename='img/tmdb-logo-2.webp') }}{% endif %}"
            class="card-img-top mb-3"
            alt="{{ movie.title }}"
          />
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.overview }}</p>
          <form method="POST">
            <input type="hidden" name="movie_id" value="{{ movie.id }}" />
            <div class="mb-3">
              <label for="review_text" class="form-label">Your Review:</label>
              <textarea
                class="form-control"
                name="review_text"
                id="review_text"
                rows="5"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-dark">Submit Review</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
