{% extends "base.html" %}
{% block content %}

<img class="mx-auto d-block pt-4 pb-4 logo mb-2" src="{{ url_for('static', filename='img/reeltalk-high-res.png') }}" alt="reel-talk-logo">

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
{% if reviews %}
  {% for review in reviews %}
  <div class="col">
      <div class="card h-100 border-0 shadow">
          
              
          
          <div class="card-body">
              <h5 class="card-title">
                  {% if review.movie.title|length > 30 %}
                  <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ review.movie.title }}">{{ review.movie.title|truncate(30) }}...</span>
                  {% else %}
                  {{ review.movie.title }}
                  {% endif %}
              </h5>
              <p class="card-text">Release Date: {{ review.movie.release_date }} </p>
              <p class="card-text">My Review: {{ review.review_text }}</p>
              <p class="card-text">Date Created: {{ review.created_at }}</p>
              
          </div>
      </div>
  </div>
  {% endfor %}
  {% else %}
  <p>You have not submitted any reviews yet.</p>

  {% endif %}

</div>

{% endblock %}